.ButtonStyle {
    min-width: 400px;
    min-height: 100px;
    outline: none;
    border: none;
    margin-bottom: 10px;    
    margin-top: 50px;
    color: black;
    text-align: center;
    margin: 10px;
    font-family: 'Space Mono', monospace;
    text-align: left;
    padding: 50px;
}
.ButtonStyle:active{
    transform: translate(2px ,2px);
}