.YearSlider {
    position: fixed;
    bottom: 0px;
    bottom: 100px;
    margin-left: 50px;
    height: 10vh;
    width: 40vw;
}
.track{
    height: 10vh;
    width: 40vw;
    background-color: transparent;
}
input[type=range]{
-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgb(119, 13, 13);
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
    box-shadow: 0px 0px 10px rgb(245, 202, 95);
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(119, 13, 13);
}

.currentYear{
    color: white;
    text-align: center;
    margin-left: 10px;
    font-size: x-large;
    font-family: 'Kumar One', cursive;
}